location            = "westeurope"
name                = "opsie-dev"
resource_group_name = "rg-opsie-dev"

address_space = [
  "10.10.0.0/16"
]

subnet_prefixes = [
  "10.10.1.0/24",
  "10.10.2.0/24"
]

tags = {
  Environment = "dev"
  ManagedBy   = "terraform"
  Project     = "opsie"
}
